<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>仿中环地产触屏版自适应手机wap房产网站模板下载【http://www.lanrenmb.com/shenghuofuwu/fangchan/】</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none"/>
    <meta name="HandheldFriendly" content="true"/>
    <link type="text/css" rel="stylesheet" href="css/enter.css">
	</head>
	<body>
		<div class="enter-box">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; ">
            <tr>
             <td style=" background: #ff5a60; width: 50%; padding: 87px 0;"><a href="company.html"><img class="dh1" src="img/e_06.png" width="130" height="58"/></a></td>
             <td style=" background: #f9521b; width: 50%; padding: 87px 0;"><a href="cuture.html"><img class="dh2" src="img/e_03.png" width="130" height="70"/></a></td>
            </tr>
            <tr>
             <td style=" background: #aec0b2; width: 50%; padding: 87px 0;"><a href="contact.html"><img class="dh3" src="img/e_15.png" width="130" height="55"/></a></td>
             <td style=" background: #eccb24; width: 50%; padding: 87px 0;"><a href="join.html"><img class="dh4" src="img/e_18.png" width="130" height="61"/></a></td>
            </tr>
        </table>
        <div class="fix-middle"><img src="img/e_11.png" width="170" height="172"/></div>
        </div>
	</body>
</html>
